
body{
	background: #000000;
	font-family: 'Ruda', sans-serif;
}

h1{
	font-family: 'Rubik', sans-serif;
}


div.desc{
	font-weight: bold;
	font-size:20px;
}

div.footer{
	padding:30px;
	min-height:100px;
	background:#000;
	background-size: 200% auto;
}
